.modal {
  position: fixed;
  z-index: 12;
  background-color: rgb(212, 231, 207);
  top: 10vh;
  left: 0;
  width: 70vw;
  height: 60vh;
  transition: transform 0.9s ease;
  transform: translate(-100%, 0);
}
@media only screen and (min-width: 600px) {
  .modal {
    width: 20vw;
    height: 70vh;
  }
}
.modal.is-open {
  display: block;
  transform: translate(0, 0);
}
.menu {
  padding-top: 0.5rem;
  margin: auto;
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1rem;
  row-gap: 0.5rem;
}

.footer {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 0.6rem;
  margin: auto auto;
}

.footer > a:hover {
  color: rgb(82, 148, 66);
  font-weight: bolder;
}
