.modal {
  position: fixed;
  z-index: 12;
  background-color: rgb(212, 231, 207);
  top: 10vh;
  right: 0;
  width: 70vw;
  height: 70vh;
  display: none;
}
.modal.is-open {
  display: block;
}
.menu {
  height: 70vh;
  width: 100%;
  display: flex;

  flex-direction: column;
}
.menu-temperature {
  flex: 0 0 20%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(224, 233, 222);
}
/* Style the custom slider */
.custom-slider {
  width: 100%;
  height: 30px;
  background: #eee;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
  -webkit-appearance: none;
}

.custom-slider:hover {
  opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}
