.modal {
  position: fixed;
  z-index: 12;
  background-color: rgb(212, 231, 207);
  top: 10vh;
  left: 0;
  width: 70vw;
  height: 70vh;
  transition: transform 0.9s ease;
  transform: translate(-100%, 0);
}
@media only screen and (min-width: 600px) {
  .modal {
    width: 20vw;
  }
}
.modal.is-open {
  display: block;
  transform: translate(0, 0);
}
.menu {
  padding-top: 0.5rem;
  margin: auto;
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1rem;
  row-gap: 0.5rem;
}
.menu-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-family: "Roboto", sans-serif;
  background-color: rgb(224, 233, 222);
}
.menu-title {
  padding: 0.5rem;
}

.footer {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 0.6rem;
  margin: auto auto;
}

.footer > a:hover {
  color: rgb(82, 148, 66);
  font-weight: bolder;
}

/* SELECT */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: rgb(103, 183, 83);
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: rgb(33, 33, 33);
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 90%;
  height: 2rem;
  line-height: 3;
  background: rgb(103, 183, 83);
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: rgb(82, 148, 66);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}
/* Temperature Range */
.temperature-range {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temperature-low, 
.temperature-high {
  flex: 0 0 10%;
}
.temperature-selector {
  flex: 0 0 80%;
}
 

/* Style the custom slider */
.custom-slider {
  width: 100%;
  height: 30px;
  background: #fff;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
  -webkit-appearance: none;
}

.custom-slider:hover {
  opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}

.custom-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #4caf50;
  cursor: pointer;
}
