.models {
  border: thin solid rgb(62, 206, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(224, 233, 222);
}
.models-title {
  padding: 0.5rem;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: rgb(82, 148, 66);
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: rgb(33, 33, 33);
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select-models {
  position: relative;
  display: flex;
  width: 80%;
  height: 2rem;
  line-height: 3;
  background: rgb(103, 183, 83);
  overflow: hidden;
  border-radius: 0.25em;
}
.select-models::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: rgb(82, 148, 66);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select-models:hover::after {
  color: #23b499;
}
