body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(103, 183, 83);
}
.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 0 0 90%;
  display: flex;
  flex-direction: row;
}

.content > * {
  border: thick solid rgb(103, 183, 83);
}
@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .content > * {
    border: 1rem solid rgb(103, 183, 83);
  }
}
.content-response {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-question {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .content-question__text {
    display: none;
  }
}
.content-question__text {
  flex: 0 0 70%;
  width: 100%;
  background-color: black;
}
.content-question__text-input {
  color: rgb(82, 148, 66);
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: black;
  border: none;
  text-align: left;
  font-size: 16px;
  outline: none;
  overflow: auto;
  resize: none;
}
