body {
  font-family: 'Roboto', sans-serif;
}
.app {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.app-green{
  background-color: rgb(103, 183, 83);
}
.app-modern{
  background-color: rgb(255, 255, 255);
}
.content {
  flex: 0 0 95%;
  display: flex;
  flex-direction: row;
}

.content > * {
  padding: 3px;
}
@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
  .content > * {
    padding: unset;
  }
}


.content-response_mobile-green, .content-question_mobile-green {
  padding: 1rem;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content-response_mobile-modern { 
  flex: 0 1 90%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content-question_mobile-modern {
  flex: 0 0 10%; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content-response_desktop, .content-question_desktop {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  color: rgb(221, 240, 217);
  opacity: 1;
  background: rgb(45, 80, 37);
}
.swiper-pagination {
  max-width: 55%;
  transform: translate(45%);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: rgb(103, 183, 83);
}
